body {
    font-family: Arial, sans-serif;
    color:white;
}

.drawer-trigger {
    margin: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.drawer {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    background: black;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
    transition: bottom 0.3s ease-in-out;
}

.drawer-header {
    text-align: center;
}

.drawer-title {
    font-size: 20px;
    font-weight: bold;
}

.drawer-description {
    font-size: 14px;
    color: gray;
}

.goal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.goal-button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 50%;
}

.goal-display {
    margin: 0 15px;
    text-align: center;
}

.goal-value {
    font-size: 50px;
    font-weight: bold;
}

.goal-text {
    font-size: 12px;
    text-transform: uppercase;
    color: gray;
}

.chart-container {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-chart {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: flex-end;
}

.bar {
    width: 20px;
    background-color: white;
    margin:0%;
    padding:0%;
}

.drawer-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submit-button, .cancel-button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.submit-button {

    background-color: #ddd;
}

.cancel-button {
    background-color: #333;
    color: white;

}

.drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.drawer.open {
    bottom: 0;
}

.drawer-overlay.show {
    opacity: 1;
    visibility: visible;
}
